h1 
  a(href="/dashboard/1") Helpdesk
img(src="/img/005-user-1.svg", alt="User", width="60px")
p=user.name
br
h2 
  a(href="/dashboard/order/date/down/1") #[i.glyphicon.glyphicon-arrow-left] &nbsp Back
hr
ul
  li
    a(href="/admin/dashboard/users") Users
  li 
    a(href="/admin/dashboard/stores") Stores
  li 
    a(href="/admin/dashboard/categories") Categories
  li
    a(href="/admin/dashboard/departments") Departments