extends ../layout.pug

block navigation
  include ../includes/admin-back-nav.pug
block content
  include ../includes/admin-categories-main.pug
block modals
  include ../includes/admin-categories-modals.pug