extends ../layout.pug

block navigation
  include ../includes/admin-dashboard-nav.pug
block content
  include ../includes/admin-dashboard-main.pug
block modals
  include ../includes/admin-dashboard-modals.pug