extends ../layout.pug

block navigation
  include ../includes/admin-back-nav.pug
block content
  include ../includes/admin-departments-main.pug
block modals
  include ../includes/admin-departments-modals.pug